.card{
    background-color: aliceblue;
    box-sizing: border-box;
    width: 260px;
    height: 260px;
    padding: 8px;
    /* border-radius: 5px; */
}
img{
    width: 130px;
    height: 130px;
}
.img-container{
    display: flex;
    justify-content: center;
}
.poke-name{
    display: flex;
    justify-content: center;
}