.card{
    background-color: aliceblue;
    box-sizing: border-box;
    width: 260px;
    height: 260px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border-radius: 5px; */
}
/* img{
    width: 130px;
    height: 130px;
} */
.img-container{
    /* width: 260px; */
    height: 130px;
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
    align-items: center;
}
.poke-name{
    text-align: center;
    margin-top: 8px;
}
.stats{
    margin-top: 8px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}