.app{
    height: 100%;
    width: 100%;
    padding: 0px 32px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}
.pagination-box{
    position: fixed;
    display: block;
    width: 100%;
    height: 60px;
    bottom: 0px;
    
}